.body {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    color: #0a1931;
    text-align: center;
    justify-content: center;
    margin-top: -2%;
    margin-bottom: 50px;
}

table {
    margin: auto;
    width: 90%;
}

table, th, td {
    padding: 10px;
    border-bottom: 1px solid rgb(170, 167, 167);
  }

  @media screen and (max-width:768px) {
      .table {
          width: 80%;
      }
 
}
