.footer {
    background-color: rgb(2, 2, 26);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
}
.about {
    /* margin: auto; */
    width: 100%;
    color: #ffffff;
}


.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #ffffff;
}

.contacts {
    width: 100%;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.contacts h3 {
    margin-right: 10%;
    text-align: center;
}

.contact-type {
    /* margin-left: 30px; */
    display: flex;
    flex-direction: row;
    /* text-align: center; */
}

.socials {
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.socials .follow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.copyright {
    background-color: rgb(14, 3, 44);
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

footer {
    margin: 30px;
    /* height: 250px; */
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:768px) {
    footer {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .about {
        margin: auto;
        width: 90%;
        text-align: center;
        justify-content: center;
        text-align: center;
    }
    .about p {
        text-align: center;
    }
    .main {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

    }
    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .contacts {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contacts h3 {
        margin-right: 0%;
    }
    .contact-type {
        justify-content: center;
        text-align: center;
    }
    .follow {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}

